html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #efefef;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}


.portfolio {
  margin-bottom: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 5rem;
}